* {
    box-sizing: content-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1,
p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.start-button {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(82, 37, 124);
    color: cornsilk;
    border-radius: 15%;
}

#question {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

button {
    margin: auto;
    background-color: rgb(82, 37, 124);
    color: rgb(253, 248, 229);
    border-radius: 15%;
}

.the-question {
    display: none;
}

section form {
    display: none;
}